<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" parallel="tests" thread-count="2">

    <test name="SwoopRegression">
        <groups>
            <run>
                <include name="SwoopRegression"/>
            </run>
        </groups>
        <classes>
            <class name="org.ge.tbcitacademy.swoop.OffersTest"/>  </classes>
    </test>

    <test name="SauceDemoLogin">
        <groups>
            <run>
                <include name="SauceDemoLogin"/>
            </run>
        </groups>
        <classes>
            <class name="org.ge.tbcitacademy.saucedemo.LoginTest"/> </classes>
    </test>

</suite>
